<%- include("../partials/head.ejs") %>

    <h1>Edit Form</h1>
    <form action="/<%= coffeelog.id %>?_method=PUT" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col">
                <label class="form-label" name="roasters">Brand/Roasters: </label>
                <input class="form-control" type="text" name="roasters" id="roasters" value="<%= coffeelog.roasters %>" required>
            </div>
            <div class="mb-3 col">
                <label class="form-label" name="blend">Blend: </label>
                <input class="form-control" type="text" name="blend" id="blend" value="<%= coffeelog.blend %>" required>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-sm-7">
                <label class="form-label" name="method">Method: </label>
                <input class="form-control" type="text" name="method" id="method" list="commonmethods" value="<%= coffeelog.method %>" required>
                <datalist id="commonmethods">
                    <option>Expresso</option>
                    <option>Pour Over</option>
                    <option>Drip</option>
                    <option>Cold Brew</option>
                    <option>Press</option>
                    <option>Cupping</option>
                    <option>Percolator</option>
                    <option>Siphon</option>
                    <option>Instant</option>
                </datalist>
            </div>
            <div class="mb-3 col-sm">
                <label class="form-label" name="rating">Rating: </label>
                <input class="form-control" type="number" name="rating" id="rating" min="0" max="5" value="<%= coffeelog.rating %>" required>
            </div>
        </div>
        <h3>Optional Details</h3>
        <div class="mb-3">
            <label class="form-label" name="brewlocation">Brew Location: </label>
            <input class="form-control" type="text" name="brewlocation" id="brewlocation" list="blocations" value="<%= coffeelog.brewlocation %>">
            <datalist id="blocations">
                <option>Home</option>
            </datalist>
        </div>
        <div class="row">
            <div class="mb-3 col">
                <label class="form-label" name="grindsize">Grind Size: </label>
                <input class="form-control" type="text" name="grindsize" id="grindsize" list="genericsizes" value="<%= coffeelog.grindsize %>">
                <datalist id="genericsizes">
                    <option>Fine</option>
                    <option>Medium</option>
                    <option>Coarse</option>
                    <option>Pre-Grounded</option>
                </datalist>
            </div>
            <div class="mb-3 col">
                <label class="form-label" name="roastlevel">Roast Level: </label>
                <input class="form-control" type="text" name="roastlevel" id="roastlevel" list="commonroasts" value="<%= coffeelog.roastlevel %>">
                <datalist id="commonroasts">
                    <option>Light</option>
                    <option>Medium</option>
                    <option>Medium-Dark</option>
                    <option>Dark</option>
                </datalist>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" name="beanorigin">Bean Origin: </label>
            <input class="form-control" type="text" name="beanorigin" id="beanorigin" list="commonvarieties" value="<%= coffeelog.beanorigin %>">
            <datalist id="commonvarieties">
                <option>Arabica</option>
                <option>Robusta</option>
                <option>Liberica</option>
                <option>Excelsa</option>
            </datalist>
        </div>
        <div class="row">
            <div class="mb-3 col">
                <label class="form-label" name="coffeedose">Coffee Dose: </label>
                <input class="form-control" type="number" name="coffeedose" id="coffeedose" min="0" value="<%= coffeelog.coffeedose %>">
                grams / oz
            </div>
            <div class="mb-3 col">
                <label class="form-label" name="watervolume">Water Volume: </label>
                <input class="form-control" type="number" name="watervolume" id="watervolume" min="0" value="<%= coffeelog.watervolume %>">
                mL / oz
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" name="watertemp">Water Temperature: </label>
            <input class="form-control" type="number" name="watertemp" id="watertemp" min="0" value="<%= coffeelog.watertemp %>">
            °C / °F
        </div>
        <h4>Flavors</h4>
        <div class="mb-3">
            <label class="form-label" name="flavornotes">Flavor Notes: </label>
            <br>
            <textarea class="form-control" name="flavornotes" id="flavornotes" maxlength="300" placeholder="Separate the flavor notes by using hashtags #&#10e.g. #Chocolate #Acidic #Full Bodied"><% if (coffeelog.flavors[0]) { %>#<%= coffeelog.flavors.join(" #") %><% } %></textarea>
            <br>
            Character Limit: 300
        </div>
        <h4>Additional Comments</h4>
        <div class="mb-3">
            <label class="form-label" name="comments">Comments: </label>
            <br>
            <textarea class="form-control" name="comments" id="comments" maxlength="500" placeholder="Comments here:"><%= coffeelog.comments %></textarea>
            <br>
            Character Limit: 500
        </div>
        <h4>Thumbnail Image</h4>
        <div class="mb-3">
            <label class="form-label" for="formFile" name="img">Image: </label>
            <input class="form-control" id="formFile" type="file" name="img" id="img" value="<%= coffeelog.img %>">
            <br>
            Upload a thumbnail for this log entry
        </div>
        
        <input class="btn btn-secondary" type="submit" value="Update Entry">
    </form>

<%- include("../partials/foot.ejs") %>