<%- include("../partials/head.ejs") %>

    <h1>Community Home Page</h1>
    <% if (currentUser) { %>
        <h2>Hello <%= currentUser.username %></h2>
    <% } %>
    <div class="container card-results">
        <% for (let log of coffeelogs) { %>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h4 class="col"><a href="/<%= log._id %>"><%= log.roasters %></a></h4>
                        <p class="col"><%= moment(log.createdAt).format("YYYY-MM-DD") %></p>
                    </div>
                    <div class="accordion accordion-flush" id="accordion<%= log._id %>">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= log._id %>" aria-expanded="true" aria-controls="collapse<%= log._id %>">
                              info.
                            </button>
                          </h2>
                          <div id="collapse<%= log._id %>" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion<%= log._id %>">
                            <a href="/<%= log._id %>"><img class="img-fluid" src="<%= log.img %>"></a>
                            <h4><%= log.blend %></h4>
                            <h4><%= log.method %></h4>
                            <div class="showrating">
                                <% for (let i = 0; i < log.rating; i++) { %>
                                    <img src="/assets/coffee-bean-ge62156025_640.png">
                                <% } %>
                            </div>
                          </div>
                        </div>
                        </div>
                </div>
            </div>
        <% } %> 
        </div>

<%- include("../partials/foot.ejs") %>