<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Index Page</h1>
    <% for (let log of coffeelogs) { %>
        <div>
            <h3><a href="/<%= log._id %>"><%= log.roasters %></a></h3>
            <h4><%= log.blend %></h4>
            <h4><%= log.method %></h4>
            <h4><%= log.rating %></h4>
        </div>
    <% } %> 
</body>
</html>